# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*
code.env

# Vite/React build
/dist
/build

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
*.local

# Unwanted HTML files
traloop.html
traloop (1).html
